{% extends "./_base.html" %}
{% block content %} 
{% load crispy_forms_tags %}
<div class="container-fluid">{% comment %}「class="container-fluid"」で全体の幅が決まる{% endcomment %}
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">検索条件</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="filter" method="get">
					<div class="modal-body">
						{{filter.form|crispy}}
					</div>
				</form>
				<div class="modal-footer">
					<a class="btn btn-outline-secondary" data-dismiss="modal">戻る</a>
					<button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
			<div class="float-right">
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-12">
			{% include "./_pagination.html" %}
		</div>
	</div>

{% comment %}
<table class='table table-striped table-hover'>
<tr>
<th>シリーズ</th><th>キャラ名</th><th>必殺</th><th>編集</th>
</tr>

    {% for hero in object_list %}
    <tr>
        <td>{{ hero.category.series }}</td>
        <td>{{ hero.name }}</td>
        <td>{{ hero.waza}}</td>
        <td><a href="{% url 'newapp:update' hero.id %}">編集</a></td>
    </tr>
    {% endfor %}
</table>
{% endcomment %}


<table class='table table-striped table-bordered table-sm table-hover'>
<thead class="thead-light">
<th>シリーズ</th><th>キャラ名</th><th>メモ欄</th><th></th>


	{% for item in item_list %}
    <tr>
        <td>{{ item.get_sex_display }}</td>{% comment %}「get_sex_display」でモデルで記載した表示で表示できる{% endcomment %}
        <td>{{ item.name }}</td>
        <td>{{ item.memo | linebreaksbr }}</td>
		<td><a class="btn btn-outline-secondary " href="{% url 'update' item.pk %}">編集</a>
			<a class="btn btn-outline-secondary " href="{% url 'delete' item.pk %}">削除</a></td>
    </tr>
    {% endfor %}
</table>


{% comment %}
	<li class="list-group-item">
					<div class="row">
						<div class="col-3">
							<p>名前</p>
						</div>
						<div class="col-9">
							<p>{{ item.name }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<p>登録日</p>
						</div>
						<div class="col-9">
							<p>{{item.created_at|date:"Y/m/d G:i:s"}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<p>メモ欄</p>
						</div>
						<div class="col-9">
							<p>{{ item.memo | linebreaksbr }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="float-right">
								<a class="btn btn-outline-secondary " href="{% url 'detail' item.pk %}">詳細</a>
								<a class="btn btn-outline-secondary " href="{% url 'update' item.pk %}">編集</a>
								<a class="btn btn-outline-secondary " href="{% url 'delete' item.pk %}">削除</a>
							</div>
						</div>
					</div>
				</li>
				{% empty %}
				<li class="list-group-item">
					対象のデータがありません
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>-->
{% endcomment %}


	<div class="row" >
		<div class="col-12">
			<div class="float-right">
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>


{% endblock %}